.env

server/generated/prisma

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/.playwright-mcp/
CLAUDE.md
.claude/
.mcp.json
.playwright-mcp/
.cursor/
.cursorignore

# Logs
*.log
npm-debug.log*